@model IEnumerable<MyNutritionist.Models.ApplicationUser>
@{
    ViewData["Title"] = "Select nutritionist";
}

<h1>Assign nutritionist</h1>

<div class="row">
    <div class="col-md-8 offset-md-2">

        <form method="post" action="@Url.Action("UpgradeToPremium", "Admin")">
            <table class="table">
                <thead>
                    <tr class="text-lg-start">
                        <th>Profile picture</th>
                        <th>@Html.DisplayNameFor(model => model.FullName)</th>
                        <th>@Html.DisplayNameFor(model => model.EmailAddress)</th>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                        {
                            <th>Actions</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => item.EmailAddress)
                            </td>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                            {
                                <td class="align-middle">
                                    <input type="hidden" name="premiumUserName" value="@ViewData["PremiumUserName"]" />
                                    <input type="hidden" name="nutriUserName" value="@item.UserName" />
                                    <button type="submit" class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i>Assign</button>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </form>

    </div>
</div>

@section Scripts {
    <script>
        function UpgradeToPremium(premiumUserName, nutriUserName) {
            if (premiumUserName && nutriUserName) {
                window.location.href = '@Url.Action("UpgradeToPremium", "Admin")' + '?premiumUserName=' + encodeURIComponent(nutriUserName) + '&nutriUserName=' + encodeURIComponent(premiumUserName);
            }
        }
    </script>
}
