<!-- AdminPanel.cshtml -->
@model IEnumerable<MyNutritionist.Models.ApplicationUser>
@{
    ViewData["Title"] = "Admin Panel";
}

<h1>Admin Panel</h1>

<div class="row">
    <div class="col-md-8 offset-md-2">

        <table class="table">
            <thead>
                <tr class="text-lg-start">
                    <th>Profile picture</th>
                    <th>@Html.DisplayNameFor(model => model.FullName)</th>
                    <th>@Html.DisplayNameFor(model => model.EmailAddress)</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                    {
                        <th>Actions</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                     
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.EmailAddress)
                        </td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                        {
                            <td class="align-middle">
                                <button class="btn btn-outline-primary" onclick="UpgradeToPremium('@item.UserName')"><i class="bi bi-pencil-square"></i>Upgrade</button> 
                            </td>
                        }

                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>


@section Scripts {
    <script>
        function UpgradeToPremium(userName) {
            if (userName) {
                window.location.href = '@Url.Action("UpgradeToPremium", "Admin")' + '?userName=' + encodeURIComponent(userName);
            }
        }
    </script>
}
