<!-- AdminPanel.cshtml -->
@model IEnumerable<MyNutritionist.Models.ApplicationUser>
@{
    ViewData["Title"] = "Admin Panel";
}

<h1>Admin Panel</h1>

<div class="row">
    <div class="col-md-8 offset-md-2">

        <table class="table">
            <thead>
                <tr class="text-lg-start">
                    <th>Profile picture</th>
                    <th>@Html.DisplayNameFor(model => model.FullName)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                    {
                        <th>Actions</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="https://images.unsplash.com/photo-1601979031925-424e53b6caaa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cHVwcHl8ZW58MHx8MHx8fDA%3D&w=1000&q=80" style="max-width: 100px" />
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                        {
                            <td class="align-middle">
                                <button class="btn btn-outline-primary" onclick="showNutritionistPrompt('@item.FullName')"><i class="bi bi-pencil-square"></i>Upgrade</button>
                            </td>
                        }

                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>


@section Scripts {
    <script>
        function showNutritionistPrompt(regName) {
            var nutritionistName = prompt("Enter the name of the nutritionist:");
            if (nutritionistName) {
                window.location.href = '@Url.Action("UpgradeToPremium", "Admin")' + '?regName=' + encodeURIComponent(regName) + '&nutriName=' + encodeURIComponent(nutritionistName);
            }
        }
    </script>
}
