﻿@using Microsoft.Data.SqlClient;
@model IEnumerable<MyNutritionist.Models.ApplicationUser>

@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>

<!--
<p>
    <a asp-action="Create">Create New</a>
</p>
-->

<form>


    <div class="row">
        <div class="col-md-8 offset-md-2">

            <table class="table">
                <thead>
                    <tr class="text-lg-start">
                        <th>Profile picture</th>
                        <th>@Html.DisplayNameFor(model => model.FullName)</th>
                        <th>@Html.DisplayNameFor(model => model.Email)</th>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                        {
                            <th>Actions</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="align-middle">
                                <img class="rounded-circle" src="https://images.unsplash.com/photo-1601979031925-424e53b6caaa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cHVwcHl8ZW58MHx8MHx8fDA%3D&w=1000&q=80" style="max-width: 100px" />
                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <td class="align-middle">
                                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Edit </a> |
                                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i>Details </a> |
                                    <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete </a>
                                </td>
                            }

                        </tr>
                    }
                </tbody>

            </table>

        </div>
    </div>

</form>