@model MyNutritionist.Models.EditDietPlanVM

<h1>DietPlan</h1>

<form asp-action="Create" asp-controller="DietPlan" method="post">
    <input type="hidden" name="RegUser" value="@Model.DietPlan.PremiumUser.Id" />

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Day</th>
                <th>Breakfast</th>
                <th>Lunch</th>
                <th>Dinner</th>
                <th>Snacks</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < 7; i++)
            {
                <tr>
                    <td>@((DayOfWeek)(i))</td>
                    <td>
                        <select asp-for="@Model.DietPlan.Recipes[i * 4].RID" asp-items="@new SelectList(@Model.Recipes, nameof(Recipe.RID), nameof(Recipe.NameOfRecipe))" class="form-control"></select>
                    </td>
                    <td>
                        <select asp-for="@Model.DietPlan.Recipes[i * 4 + 1].RID" asp-items="@new SelectList(@Model.Recipes, nameof(Recipe.RID), nameof(Recipe.NameOfRecipe))" class="form-control"></select>
                    </td>
                    <td>
                        <select asp-for="@Model.DietPlan.Recipes[i * 4 + 2].RID" asp-items="@new SelectList(@Model.Recipes, nameof(Recipe.RID), nameof(Recipe.NameOfRecipe))" class="form-control"></select>
                    </td>
                    <td>
                        <select asp-for="@Model.DietPlan.Recipes[i * 4 + 3].RID" asp-items="@new SelectList(@Model.Recipes, nameof(Recipe.RID), nameof(Recipe.NameOfRecipe))" class="form-control"></select>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <hr>

    <div class="row" style="margin-top: 20px">
        <div class="col-md-4">
            <form asp-action="Create" asp-controller="DietPlan" method="post" asp-route-RegUser="@Model.DietPlan.PremiumUser.Id">
                <div class="form-group" style="margin-right: 20px">
                    <label for="totalCalories">Total Calories:</label>
                    <input type="number" name="totalCalories" id="totalCalories" asp-for="@Model.DietPlan.TotalCalories" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" onclick="Create('@Model.DietPlan.PremiumUser.Id')" />
                </div>
            </form>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        function Create(id) {
            if (id) {
                window.location.href = '@Url.Action("Create", "DietPlan")' + '?RegUser=' + encodeURIComponent(id);
            }
        }
    </script>
}