@model MyNutritionist.Models.DietPlan
<!DOCTYPE html>
<title>Edit DietPlan</title>
<style>
    .weekly-table {
        width: 100%;
        border-collapse: collapse;
    }

        .weekly-table th,
        .weekly-table td {
            padding: 8px;
            text-align: center;
            border-bottom: 1px solid #ddd;
            margin: 5px;
        }

        .weekly-table th {
            background-color: #f2f2f2;
        }

        .weekly-table tbody tr:hover {
            background-color: #f5f5f5;
        }

        .weekly-table td input[type="text"] {
            border: 1px solid #ddd;
            padding: 6px;
            background-color: #f9f9f9;
        }
</style>


<h1>DietPlan</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Day</th>
            <th>Breakfast</th>
            <th>Lunch</th>
            <th>Dinner</th>
            <th>Snacks</th>
        </tr>
    </thead>
    <tbody>

        @for (int i = 0; i < Model.Recipes.Count - 3; i += 4)
        {
            <tr>
                <td>@((DayOfWeek)(i / 4))</td>
                <td><a href="@Model.Recipes.[i].RecipeLink">@Model.Recipes[i].NameOfRecipe</a></td>
                <td><a href="@Model.Recipes[i + 1].RecipeLink">@Model.Recipes[i + 1].NameOfRecipe</a></td>
                <td><a href="@Model.Recipes[i + 2].RecipeLink">@Model.Recipes[i + 2].NameOfRecipe</a></td>
                <td><a href="@Model.Recipes[i + 3].RecipeLink">@Model.Recipes[i + 3].NameOfRecipe</a></td>

            </tr>
        }
  
    </tbody>
</table>
