@model MyNutritionist.Models.EnterActivityAndFoodViewModel
<html>
<head>
    <title>Unos obroka i aktivnosti</title>
    <style>
        .input-container {
            margin-bottom: 20px;
            width: 90%;
        }

            .input-container label {
                display: block;
                font-weight: bold;
                width: 90%;
            }

            .input-container input[type="text"],
            .input-container select {
                width: 90%;
                padding: 6px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

        .column {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-right: 40px;
        }

        .row {
            display: flex;
            justify-content: space-between;
        }

        .container {
            display: flex;
            justify-content: space-between;
        }

      
    </style>
</head>
<body>
    <form asp-controller="RegisteredUser" asp-action="Save" method="post">
        <div class="container">
            <div class="column">
                <h1>Enter Food</h1>

                <div class="input-container">
                    <label asp-for="Breakfast.FoodName">Breakfast</label>
                    <div class="input-group">
                        <select asp-for="Breakfast.FoodName" class="form-control">
                            @foreach (var ingredient in Model.Ingredients)
                            {
                                <option value="@ingredient.FoodName">@ingredient.FoodName</option>
                            }
                        </select>
                    </div>
                    <label for="breakfast-quantity">Quantity:</label>
                    <div class="input-group">
                    <input type="number" id="breakfast-quantity" name="breakfast-quantity" class="form-control" />
                    </div>
                </div>

                <div class="input-container">
                    <label asp-for="Lunch.FoodName">Lunch</label>
                    <div class="input-group">
                        <select asp-for="Lunch.FoodName" class="form-control">
                            @foreach (var ingredient in Model.Ingredients)
                            {
                                <option value="@ingredient.FoodName">@ingredient.FoodName</option>
                            }
                        </select>
                    </div>
                    <label for="breakfast-quantity">Quantity:</label>
                    <div class="input-group">
                    <input type="number id="breakfast-quantity" name="breakfast-quantity" class="form-control" />
                    </div>
                </div>

                <div class="input-container">
                    <label asp-for="Dinner.FoodName">Dinner</label>
                    <div class="input-group">
                        <select asp-for="Dinner.FoodName" class="form-control">
                            @foreach (var ingredient in Model.Ingredients)
                            {
                                <option value="@ingredient.FoodName">@ingredient.FoodName</option>
                            }
                        </select>
                    </div>
                    <label for="breakfast-quantity">Quantity:</label>
                    <div class="input-group">
                    <input type="number" id="breakfast-quantity" name="breakfast-quantity" class="form-control" />
                    </div>
                </div>

                <div class="input-container">
                    <label asp-for="Snacks.FoodName">Snacks</label>
                    <div class="input-group">
                        <select asp-for="Snacks.FoodName" class="form-control">
                            @foreach (var ingredient in Model.Ingredients)
                            {
                                <option value="@ingredient.FoodName">@ingredient.FoodName</option>
                            }
                        </select>    
                    </div>
                    <label for="breakfast-quantity">Quantity:</label>
                    <div class="input-group">
                    <input type="number" id="breakfast-quantity" name="breakfast-quantity" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="column">
                <h1>Enter Activity</h1>

                <div class="input-container">
                    <label asp-for="PhysicalActivity.Duration"></label>
                    <div class="input-group">
                    <input asp-for="PhysicalActivity.Duration" class="form-control" style="margin-bottom: 20px;" />
                    </div>
                </div>

                <div class="input-container">
                    <label asp-for="PhysicalActivity.ActivityType"></label>
                    <div class="input-group">
                    <select asp-for="PhysicalActivity.ActivityType" class="form-control">
                        <option value="running">Running</option>
                        <option value="cycling">Cycling</option>
                        <option value="swimming">Swimming</option>
                    </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" style="margin-top: 20px">
            <button type="submit" class="btn btn-primary" style="margin-top: 20px; margin-left:200px">Save</button>
        </div>
    </form>
</body>
</html>
