@model MyNutritionist.Models.Ingredient

@{
    ViewData["Title"] = "Nutritional Values";
}
<!DOCTYPE html>
<html>
<head>
    <title>Nutritional Values</title>
    <style>
        h2 {
            text-align: center;
        }

        .form-section {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .form-column {
            flex: 1;
            margin-right: 20px;
        }

        .form-label {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .form-field {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 8px;
            width: 100%;
            font-size: 16px;
        }

        .table-section {
            display: flex;
            align-items: flex-start;
        }

        .table-container {
            flex: 1;
            position: relative;
            margin-right: 20px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .check-button-container {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .check-button {
            margin-left: 10px;
            padding: 8px 16px;
            background-color: #56cc9d;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

            .check-button:hover {
                background-color: #45a049;
            }
    </style>
</head>
<body>
    <h2>Nutritional Values</h2>

    @if (ViewBag.ErrorMessage != null)
    {
        <div style="color: red; text-align: center; margin-bottom: 10px;">
            @ViewBag.ErrorMessage
        </div>
    }

    <form asp-action="CheckNutritionalValues" method="post">
        <div class="form-section">
            <div class="form-column">
                <div>
                    <span class="form-label">Select food:</span>
                    <input class="form-field" type="text" name="FoodName" value="@((Model != null) ? Model.FoodName : "")" pattern="[A-Za-z]+" title="Only alphabetical letters are allowed.">
                </div>
            </div>
            <div class="form-column">
                <div class="table-section">
                    <div class="table-container">
                        <table>
                            <tr>
                                <th>Nutrient</th>
                                <th>Value</th>
                            </tr>
                            <tr>
                                <td>Total fat</td>
                                <td><input type="text" name="Fat" value="@((Model != null) ? Model.Fat : "")"></td>
                            </tr>
                            <tr>
                                <td>Saturated fat</td>
                                <td><input type="text" name="SaturatedFat" value="@((Model != null) ? Model.SaturatedFat : "")"></td>
                            </tr>
                            <tr>
                                <td>Sodium</td>
                                <td><input type="text" name="Sodium" value="@((Model != null) ? Model.Sodium : "")"></td>
                            </tr>
                            <tr>
                                <td>Total carbohydrate</td>
                                <td><input type="text" name="Carbs" value="@((Model != null) ? Model.Carbs : "")"></td>
                            </tr>
                            <tr>
                                <td>Sugars</td>
                                <td><input type="text" name="Sugar" value="@((Model != null) ? Model.Sugar : "")"></td>
                            </tr>
                            <tr>
                                <td>Protein</td>
                                <td><input type="text" name="Protein" value="@((Model != null) ? Model.Protein : "")"></td>
                            </tr>
                            <tr>
                                <td>Vitamin A</td>
                                <td><input type="text" name="VitaminA" value="@((Model != null) ? Model.VitaminA : "")"></td>
                            </tr>
                            <tr>
                                <td>Vitamin C</td>
                                <td><input type="text" name="VitaminC" value="@((Model != null) ? Model.VitaminC : "")"></td>
                            </tr>
                            <tr>
                                <td>Calcium</td>
                                <td><input type="text" name="Calcium" value="@((Model != null) ? Model.Calcium : "")"></td>
                            </tr>
                            <tr>
                                <td>Iron</td>
                                <td><input type="text" name="Iron" value="@((Model != null) ? Model.Iron : "")"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="check-button-container">

                        <button class="check-button">Check</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>

